.material-symbols--brush {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6 21q-1.125 0-2.225-.55T2 19q.65 0 1.325-.513T4 17q0-1.25.875-2.125T7 14t2.125.875T10 17q0 1.65-1.175 2.825T6 21m5.75-6L9 12.25l8.95-8.95q.275-.275.688-.288t.712.288l1.35 1.35q.3.3.3.7t-.3.7z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.material-symbols--music-note-rounded {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10 21q-1.65 0-2.825-1.175T6 17t1.175-2.825T10 13q.575 0 1.063.138t.937.412V4q0-.425.288-.712T13 3h4q.425 0 .713.288T18 4v2q0 .425-.288.713T17 7h-3v10q0 1.65-1.175 2.825T10 21'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.simple-icons--linktree {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m13.736 5.853l4.005-4.117l2.325 2.38l-4.2 4.005h5.908v3.305h-5.937l4.229 4.108l-2.325 2.334l-5.74-5.769l-5.741 5.769l-2.325-2.325l4.229-4.108H2.226V8.121h5.909l-4.2-4.004l2.324-2.381l4.005 4.117V0h3.472zm-3.472 10.306h3.472V24h-3.472z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

html { height: 100% }

body {
    height: 100%;
    background-image: linear-gradient(254deg, #71A1EB 5%, #6B7CD1 63%, #7766BA 92%);
    font-family: "Source Sans Pro", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    color: white;
    text-align: center;
}

#pfp {
    border-style: none none dashed dashed;
    border-radius: 50%;
    border-color: #FFFFFFa1;
}

header h1 {
    font-size: 27pt;
}

header h2 {
    font-weight: 200;
}

header h4 {
    color: #ffffffbd;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}

.container {
    color: #5D60A3;
    font-size: 1.15em;
    font-size: 300;
    background-color: #FFFFFFa1;
    border-radius: 20px;
    width: 70%;
    margin: 50px auto 50px auto;
    padding: 5px 30px;
    box-shadow: -5px 5px 1px 1px;
}
.container h3 {
    text-align: center;
}

.container ul {
    list-style-type: "★  ";
}

.container img {
    border-radius: 10px;
    margin: 10px;
    width: 200px;
}

.container .centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
}

.buttons {
    text-align: center;
    margin: 0;
    padding: 0;
}

.buttons li {
    font-family: "Inconsolata", monospace;
    font-size: 1.15em;
    color: #5D60A3;
    background-color: #ffffffa1;
    padding: 10px;
    border-radius: 25px;
    text-align: right;
    display: inline-block;
    margin: 5px 10px 50px 10px;
    box-shadow: -5px 5px 1px 1px;
}

.buttons li .icon {
    font-size: 98%;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

hr {
    color: #FFFFFF6B;
    width: 100px;
    border-top: 0px solid;
}

a, a:visited{
    color: #5D60A3;
    text-decoration: none;
}

.gallery {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
}