* {
    --text-color: #ffffff;
    --bg-color: #333966;
    font-family: "Titillium Web";
}

html {
    height: 100vh;
    padding: 0;
    /*background-color: #51468f;*/
    background-color: var(--bg-color);
}

body {
    margin: 0;
    padding: 0;
}

#wrapper {
    padding: 2em;
    color: var(--text-color);
    margin: 2em 10em;
    font-size: 12pt;
}

header {
    float: left;
    width: 45vw;
}

nav {
    float: left;
    width: 45vw;
    margin-bottom: 1em;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 20em;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
}

a {
    color: var(--text-color);
}

a:hover {
    color: #cac4dc;
    text-decoration: underline;
}

aside {
    float: right;
    width: 20vw;
    border-radius: 1em;
    border: 0.25em solid #fff;
    padding: 1em;
}

main {
    float: left;
    margin-bottom: 2em;
    min-width: 45vw;
}

#welcome {
    display: flex;
}

#welcome img {
    margin-right: 3em;
    border-radius: 2em;
    border: 0em solid #000000;
    width: 15vw;
    height: 15vw;
    align-self: center;
    box-shadow: 0 0 0.1em 0.2em #ffffff;
}

hr {
    width: 10em;
    color: #fff;
    margin: 1em 0;
}

footer {
    clear: both;
    font-size: 11pt;
}

/* Buttons */
.buttons {
    text-align: center;
    margin: 1em 0;
    padding: 0;
}

.buttons li {
    display: inline-block;
}

.buttons a {
    text-decoration: none;
    background-color: var(--bg-color);
    padding: 5px;
    border-radius: 15px;
    border: 3px solid white;
    text-align: right;
    margin: 0.5rem;
}

.buttons p {
    display: inline;
}

/* Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.gallery img {
    aspect-ratio : 1 / 1;
    object-fit: cover;

    flex-grow: 1;
    flex-basis: 125px;
    max-width: 300px;
    margin: 5px;
}

img.clickable-img:hover {
    opacity: 80%;
    cursor: pointer;
}

/* modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    margin-bottom: 10%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, 
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/**/