:root {
    --text-color: #5D60A3;
    --transparent-white: #FFFFFFa1;
}

* {
    box-sizing: border-box;
}

body { 
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(254deg, #71A1EB 5%, #6B7CD1 63%, #7766BA 92%);
    background-size: cover;
    background-repeat: no-repeat;
    scrollbar-width: thin;
    margin: 0;
}

#wrapper {
    width: 100vw;
    min-height: 100vh;
    font-family: "Source Sans Pro", sans-serif;
}


/* header */

header.container {
    height: 20rem;
    color: var(--text-color);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 0;
}

#pfp {
    border-radius: 50%;
    border-color: var(--transparent-white);
    aspect-ratio: 1 / 1;
    box-shadow: -0.3rem 0.3rem 0.1rem 0.1rem;
}

header h1 {
    font-size: 7vw;
}

/* nav */

nav.container {
    padding: 0;
    overflow: hidden;
}

nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    height: 5rem;
    align-content: center;
    overflow: hidden;
}

nav li {
    display: inline-block;
    height: 100%;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-family: "Inconsolata", monospace;
    font-size: 1.15em;
    color: var(--text-color);
    height: 100%;
    align-content: center;
    padding: 0 1rem;
}

nav a:hover {
    background-image: linear-gradient(-45deg,#aeccf8 5%, #b6c1f5 63%, #bfb1fa 92%);
    /*box-shadow: 0 0 0.3rem 0.2rem #1602252c;*/
}

nav p {
    display: inline;
    margin: 0;
}

/**/

.container {
    color: var(--text-color);
    font-size: 1.1em;
    background-color: var(--transparent-white);
    border-radius: 1rem;
    margin: 3rem 6rem;
    padding: 1rem 3rem;
    box-shadow: -5px 5px 1px 1px;
    overflow-wrap: break-word;
}

.container h3 {
    text-align: center;
}

.list {
    list-style-type: "★  ";
}

img.rounded {
    border-radius: 10px;
}

.container.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
}

.centered {
    text-align: center;
}

.container-item {
    margin: 1rem auto 1rem auto;
    text-align: center;
}

.container-item img {
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.1rem 0.2rem;
    max-width: 300px;
}

.container hr {
    color: #5D60A36b;
}


/* buttons */

.buttons {
    text-align: center;
    margin: 0;
    padding: 0;
}

.buttons li {
    display: inline-block;
}

.buttons a {
    text-decoration: none;
    font-family: "Inconsolata", monospace;
    font-size: 1.15em;
    background-color: var(--transparent-white);
    padding: 10px;
    border-radius: 25px;
    text-align: right;
    margin: 0.5rem;
    box-shadow: -0.3rem 0.3rem 0.1rem 0.1rem;
}

.buttons p {
    display: inline;
}

/**/

.icon {
    width: 1.2em;
    height: 1.2em;
    position: relative;
    top: 0.3em;
    margin-right: 0.5em;
}

hr {
    color: var(--transparent-white);
    width: 100px;
    border-top: 0px solid;
    margin: 25px auto 25px auto
}

a, a:visited{
    color: var(--text-color);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.gallery img {
    aspect-ratio : 1 / 1;
    object-fit: cover;

    flex-grow: 1;
    flex-basis: 125px;
    max-width: 300px;
    margin: 5px;
}

.gallery img:hover {
    opacity: 80%;
    cursor: pointer;
}

.link-box {
    background-color: var(--transparent-white);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    box-shadow: -5px 5px 1px 1px;
}


/* modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    margin-bottom: 10%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, 
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/**/

footer {
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-weight: 200;
}


/**/

@media screen and (max-width: 800px) {
    .container {
        width: auto;
        margin: 1.5rem 0;
        padding: 1rem 1.5rem;
        border-radius: 0.3rem;
    }

    #pfp {
        width: 35vw;
        height: 35vw;
    }

    header h1 {
        font-size: 10vw;
    }
}

@media screen and (max-width: 550px) {
    .buttons p, nav p {
        display: none;
    }

    .buttons a, nav a {
        display: block;
    }
}

@media screen and (max-width: 425px) {
    header.container {
        flex-direction: column;
        padding: 2rem 0;
    }
    header h1 {
        margin: 0;
    }
}